body{
    margin: auto;
}

.navbar ul{
  display: flex;
  list-style: none;
  margin-left: 10rem;
}

.navbar li{
padding-left: 4rem;
}

.netflix-logo {
display: flex;
}

.netflix-logo img
{
    margin-top:1rem;
    height: 45px;
    width: 167px;
    margin: 1rem;
    position: absolute;
    filter: invert(11%) sepia(94%) saturate(7355%) hue-rotate(355deg) brightness(91%) contrast(97%); 
}

.search
{
    margin-left:40rem;
}