<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">

    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="/js/home.js" defer></script>

    <title>Netflix</title>
</head>
<body>
    <header>
         <div v-else>
         <div class="navbar">
    
         <div class="netflix-logo">
         <img src="../images/netflix.svg" alt="">
         </div>
            <ul>
              <li>Home</li>
              <li>TV Shows</li>
              <li>Movies</li>
              <li>New & Popular</li>
              <li @click="watchList">My List</li>
              <li id="username">{{username}}</li>
              <li><a class="logout" @click="logout"></a>Logout</li>
            </ul>
          </div>
        </div>

        <div class ="movies-comingSoon">
          <div v-for="(movie, index)" :key="movie.id" :index="index" :visibleSlide="visibleSlide" v-show="visibleSlide === index"></div>
        </div>
        </header>
    
       

        <section>
        <div class = "movie-list">
          <ul>
            <li v-for="(movie, index)" :key="movie.id">
            <span>{{movie.name}}</span>
            <span>{{movie.genre}}</span>
            <span>{{movie.availDate}}</span>
            <img src="movie.thumbnail" alt="Movie Image">
            <button class = "watchbtn" @click = "watchList(index)">Add movie to watchlist</button>
          </li>
          </ul>
      
        </div>
        </section>
        </main>

  
</body>
</html>
